/* content */
.content-container {
    width: 100%;
    height: auto;
    overflow: auto;
}
.content-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f3f4;
}
.content-header-left {
    margin-left: 20px;
}
.content-header-right {
    display: flex;
    margin-right: 10px;
}
.content-header
.content-header-item
{
    color: #000;
    font-weight: bold;
}
.content-header-left
.content-header-item-left {
    font-size: 14px;
}
.content-header-right
.content-header-item-right
{
    font-size: 12px;
}
