.tbl-container {
    overflow-y: auto;
    height: fit-content;
    max-height: 66.4vh;
    margin: 15px 0 15px 0;
}

#tbl-table thead th {
    position: sticky;
    top: -1px;
    z-index: 1;
}

#tbl-table thead th {
    background-color: #e3e9ef;
}

#tbl-table thead tr .tbl-header .tbl-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tbl-table thead tr th span {
    font-size: 10px;
    color: #343435;
}
#tbl-table thead tr th .fws-icon {
    cursor: pointer;
}
#tbl-table tbody tr {
    font-size: 13px;
}
#tbl-table tbody tr:nth-of-type(even) td {
    background-color: #f8f9fa;
}

/* Định dạng màu nền cho các dòng lẻ */
#tbl-table tbody tr:nth-of-type(ood) td {
    background-color: #ffffff;
}

#tbl-table tbody tr:hover td{
    background-color: #e3e9ef;
    cursor: pointer;
}
