#table-data thead th {
    background-color: #e3e9ef;
}
#table-data thead tr .table-header .table-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#table-data thead tr th span {
    font-size: 10px;
}
#table-data thead tr th .fws-icon {
    cursor: pointer;
}

#table-data tbody tr:nth-of-type(even) td {
    background-color: #f8f9fa;
}

/* Định dạng màu nền cho các dòng lẻ */
#table-data tbody tr:nth-of-type(ood) td {
    background-color: #ffffff;
}

#table-data tbody tr:hover td{
    background-color: #e3e9ef;
    cursor: pointer;
}