.header {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fbaa93;
    background-image: linear-gradient(to right, #fbaa93, #fa9c90, #fb8e8d, #fc7488);
}
.header .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}