.sidebar-container {
    width: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #97a9b0;
    overflow: auto;
}

.sidebar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sidebar-container
.sidebar
.sidebar-item {
    width: 100%;
    margin-top: 0px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
    transition: 0.3s;
}

.sidebar-container
.sidebar
.sidebar-item:hover {
    background: transparent linear-gradient(90deg, #FBAA93 0%, #FE5E84 100%) 0 0 no-repeat !important;
}

.sidebar-container
.sidebar
.active {
    background: transparent linear-gradient(90deg, #FBAA93 0%, #FE5E84 100%) 0 0 no-repeat !important;
}


.sidebar-container
.sidebar
.sidebar-item button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-container
.sidebar
.sidebar-item .sidebar-router {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sidebar-container
.sidebar
.sidebar-item span {
    padding: 2px 0 0 0;
    font-family: 'Noto Sans', serif;
    font-size: 10px;
    font-weight: 500;
}

.sidebar-container
.sidebar
.sidebar-item .sidebar-icon {
    margin: 3px auto;
    width: 12px;
    height: 15px;
}

/*start custom scroll*/
.sidebar-container::-webkit-scrollbar {
    width: 5px;
}

.sidebar-container::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background: transparent;
}


.sidebar-container:hover::-webkit-scrollbar-thumb {
    background: #bdcad0;
}
/*end custom scroll*/