.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.box-top .box-select-page {
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-top .box-select-page .text-page {
    font-size: 15px;
    padding-left: 10px;
}
.box-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box-select-page .total-record {
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
}
.form-control {
    display: block;
    border-color: #D0D6DA !important;
    font-family: 'Noto Sans', serif;
    font-weight: 500;
    width: 80px;
    height: 28px;
    padding: 0px 6px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    border-radius: 3px;
}


.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #2196F3 !important;
}