.content .container-fluid .row .form-group label {
    font-size: 10px;
}
.form-label {
    font-family: 'Noto Sans', serif;
    font-size: 12px !important;;
    font-weight: 500;
    color: #333333;
    margin-bottom: 0;
}
.form-control {
    display: block;
    border-color: #D0D6DA !important;
    font-family: 'Noto Sans', serif;
    font-weight: 500;
    width: 100%;
    padding: 0 6px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #fff;
    border-radius: 3px;
}
input.form-control,
select.form-control {
    height: 28px !important;
}
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #2196F3 !important;
}
.content .container-fluid .row .form-group .form-select {
    text-transform: none;
}
.btn-search {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-search:hover, .btn-search:focus{
    background: #eef1fc !important;
}
.btn-search .input-icon{
    font-size: 13px;
}
