.content .container-fluid .row .form-group label {
    font-size: 10px;
}

.content .container-fluid .row .form-group input {
    height: 27px;
    border-radius: 3px;
    font-size: 10px;
}

.content .container-fluid .row .form-group .form-select {
    font-size: 9px;
}
